{% extends "base.html" %}
{% block title %} Book Stat{% endblock %}
{% block content %} 
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p class="text-warning">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith%}

	<form action="#" method="post">
		<p>m = <input type="text" name="m" /></p>

		<p><input type="submit" value="Generate the stat"/></p>
	</form>

	<p>Most Popular Books: </p>
	{% for book in popBook %}
		<p><a href="{{url_for('bookPage') + '?ISBN=' + book[0]}}">
		ISBN: {{book[0]}},
		</a> Sold: {{book[1]}}</p>
	{% endfor%}

	<p>Most Popular Authors: </p>
	{% for author in popAuthor %}
		<p>Author: {{author[0]}}, Sold: {{author[1]}}</p>
	{% endfor%}

	<p>Most Popular Publisher: </p>
	{% for pub in popPub %}
		<p>Publisher: {{pub[0]}}, Sold: {{pub[1]}}</p>
	{% endfor%}
{% endblock%}