{% extends "base.html" %}
{% block title %}User Sign-up{% endblock %}
{% block content %}
	<!-- Display all flashed messages -->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p class="text-warning">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith%}

	<form action="#" method="post">
		<p>Login Name:</p>
		<p><input type="text" name="logname" /></p>

		<p>First Name:</p>
		<p><input type="text" name="fname" /></p>

		<p>Last Name:</p>
		<p><input type="text" name="lname" /></p>

		<p>Password:</p>
		<p><input type="text" name="pwd" /></p>

		<p>Address:</p>
		<p><input type="text" name="addr" /></p>

		<p>Phone Number:</p>
		<p><input type="text" name="pn" /></p>

		<button type="submit" class="btn btn-outline-primary">Sign Up</button>
	</form>
{% endblock %}